body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* ------------------- */
/* Style for the image preview modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 500px;
  max-width: 60%;
  height: 900px;
  max-height: 90vh;
  border-radius: 20px;
}

.close {
  position: absolute;
  top: 50px;
  right: 50%;
  color: rgb(74, 255, 3);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.delete-button {
  margin-top: 8px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}

.delete-button.visible {
  margin-top: 8px;
  display: block;
  cursor: pointer;
  border-radius: 5px;
}

/* ------------------- */


/* styles.css */
progress {
    width: 99%; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
    border-radius: 10px; /* Optional: Rounded corners */
    overflow: hidden; /* Ensures rounded corners are applied */
    margin: 15px 0px;
  }
  
  progress::-webkit-progress-bar {
    background-color: #ffffff; /* Background color of the progress bar */
  }
  
  progress::-webkit-progress-value {
    background-color: #060c58da; /* Color of the progress bar fill */
  }
  
  progress::-moz-progress-bar {
    background-color: #01eb09; /* Color of the progress bar fill for Firefox */
  }
  
  .progressText, #uploadButton{
    display: inline-block;
    padding: 4px 15px;
    font-family: serif;
    border-radius: 3px;
    color: #3514f1;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 0 0 5px -0.4px black;
  }
  
  #toggle, #pin{
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    background-color: #eeeeee;
    box-shadow: 0 0 2px -0.9px rgb(0, 0, 0);
  }
  #pin{
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    display: none;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #eeeeee;
    box-shadow: 0 0 2px -0.9px rgb(0, 0, 0);
  }
  
#imageGallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 15px;
    border-radius: 35px;
    width: 95%;
    height: auto;
    
    background-color: rgba(211, 214, 218, 0.493);
    box-shadow: 0 0 5px -0.4px black;
    padding: 15px 12px;
    margin: 15px 10px;
    /* position: relative; */
  }
  .gallery-image{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    width: 100px;
    height: 10em;
    border-radius: 20px;
    box-shadow: 0 0 5px -1px rgb(231, 11, 11);
  }
  
  h1,#uploadButton,#imageUpload,h2{
    display: inline-block;
    padding: 4px 15px;
    font-family: serif;
    border-radius: 3px;
    color: #3d0a79;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 0 0 5px -0.4px rgba(53, 8, 8, 0.692);
  }
  
  
  @media(max-width:550px){
    #imageUpload{
      width: 90%;
    }
    
    #imageGallery{
      background-color: white;
      box-shadow: 0 0 3px -0.5px black;
      width: 90%;
      background-color: rgba(227, 238, 241, 0.808);
    }
    .gallery-image{
      width: 93px;
      height: 10em;
      box-shadow: 0 0 3px -1px black;
      box-shadow: 0 0 5px -1px rgb(231, 11, 11);
    }

    .modal-content {
      bottom: 50px;
      width: 83vw;
      height: 70vh;
      max-height: 100vh;
      max-width: 95vh;
    }
    .close {
      top: 45px;
      transform: scale(1.1);
    }

  }